.history__slider {
  height: 338px;
  width: 100%;
  margin-top: 64px;
}

@media screen and (max-width: 425px) {
  .history__slider {
    max-width: 90%;
    margin: auto;
    margin-top: 16px;
  }
}
