@import url("./search-field__button/search-field__button.css");
@import url("./search-field__input/search-field__input.css");
@import url("./__input-container/search-field__input-container.css");
@import url("./__input-error/search-field__input-error.css");
.search-field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 425px) {
  .search-field {
    flex-direction: column;
    width: 100%;
  }
}
