.footer__home-link {
  width: 64px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
  text-align: center;
}
