@import url("./__image/card__image.css");
@import url("./__date/card__date.css");
@import url("./__description/card__description.css");
@import url("./__source/card__source.css");
@import url("./__title/card__title.css");
@import url("./__container/card__container.css");

.card {
  max-width: 400px;
  text-decoration: none;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.card:hover {
  transform: translateY(-5px);
}
